@model TrashCollectorWebApp.Models.PickUpDirectory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PickUpDirectory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialPickUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialPickUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickUpCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickUpCompleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
